.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.about {
    float: left;
    margin-top: 8px;
}
.name {
    padding-left: 8px;
}

.status .online {
    color: green;
}

.status .offline {
    color: orange;
}
