.container{
    margin: 0 auto;
    width: 750px;
    border-radius: 5px;
}

.people-list {
    width: 260px;
    float: left;
    background-color:#F8F8FF;
}
.search {
    padding: 20px;

}

.people-list ul {
    padding: 20px;
    height: calc(100vh - 116px);
}

ul{
    list-style: none;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.people-list ul li {
    padding-bottom: 20px;
}

.people-list img {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.people-list input {
    border-radius: 3px;
    border-color: #F5F5F5;
    border-width: 1px;
    padding: 14px;
    color: black;
    width: 90%;
    font-size: 14px;
}

.people-list .fa-search {
    position: relative;
    left: -25px;
}

.chat {
    width: 490px;
    float: left;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: red;
    height: 100vh;
}