.chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
}
.chat-header img {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
    height: 60px;
}

.chat-with {
    font-weight: bold;
    font-size: 16px;
    height: 100%;
    line-height: 60px;
}



.fa-star {
    float: right;
    color: #D8DADF;
    font-size: 20px;
    margin-top: 12px;
}

.chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;
}

.chat-message {
    padding: 30px;
}
.chat-message textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;

}

.chat-message .fa-file-o, .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;

}

.chat-message button {
    float: right;
    color: blue;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #F2F5F8;
}
