*, *:before, *:after {
    box-sizing: border-box;
}

.message-data {
    margin-bottom: 15px;
}

.message-data-time {
    color: gray;
    padding-left: 6px;
}

.message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 100%;
    position: relative;
}
.my-message {
    background: green;
}

.other-message {
    background: #EE7C6B;
}
.float-right{
    float: right;
    margin-right: 5px;
}
.float-left{
    float:left;
}
